.profile-container {
    min-height: 100vh;
    background: linear-gradient(135deg, #06283D, #DFF6FF);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-content {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 90%;
    max-width: 800px;
    margin: 20px;
  }
  
  .profile-cover {
    position: relative;
    height: 300px;
    background: url('../../assets/coverP.jpg') no-repeat center center;
    background-size: cover;
  }
  
  .profile-picture {
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-info {
    padding: 80px 20px 20px;
    text-align: center;
  }
  
  .profile-info h1 {
    color: #06283D;
  }
  
  .welcome-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #06283D;
    padding: 40px;
  }
  
  .welcome-message h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .welcome-message p {
    font-size: 1.5rem;
  }